<!doctype html>
/ paulirish.com/2008/conditional-stylesheets-vs-css-hacks-answer-neither/
/[if lt IE 7 ] <html lang="en" class="no-js ie6">
/[if IE 7 ] <html lang="en" class="no-js ie7">
/[if IE 8 ] <html lang="en" class="no-js ie8">
/[if IE 9 ] <html lang="en" class="no-js ie9">
/ [if (gt IE 9)|!(IE)]><!
%html.no-js{:lang => "en"}
  / <![endif]
  %head
    %meta{:charset => "utf-8"}
    %title X-mas Challenge!
    %meta{:content => "Kids Christmas Challenge", :name => "description"}
    %meta{:content => "CDeutsch", :name => "author"}
    / Mobile viewport optimized: j.mp/bplateviewport
    %meta{:content => "width=device-width, initial-scale=1.0", :name => "viewport"}
    / Place favicon.ico & apple-touch-icon.png in the root of your domain and delete these references
    %link{:href => "/favicon.ico", :rel => "shortcut icon"}
    %link{:href => "/apple-touch-icon.png", :rel => "apple-touch-icon"}
    / CSS : implied media="all"
    %link{:href => "stylesheets/jquery-ui.css?v=2", :rel => "stylesheet"}
    %link{:href => "stylesheets/screen.css?v=2", :rel => "stylesheet"}
    / Uncomment if you are specifically targeting less enabled mobile browsers
    / <link rel="stylesheet" media="handheld" href="css/handheld.css?v=2">
    / All JavaScript at the bottom, except for Modernizr which enables HTML5 elements & feature detects
    %script{:src => "javascripts/libs/modernizr-1.6.min.js"}
  %body
    #fullpageContainer
      %table{:id => "centeringTable"}
        %tr
          %td
            = yield

    / ! end of #container
    / Javascript at the bottom for fast page loading
    / Grab Google CDN's jQuery. fall back to local if necessary
    = javascripts("http://ajax.googleapis.com/ajax/libs/jquery/1.4.4/jquery.js")
    :javascript
      window.jQuery && document.write(unescape('%3Cscript src="javascripts/libs/jquery-1.4.4.js"%3E%3C/script%3E'));
    / end concatenated and minified scripts
    /[if lt IE 7 ]
      <script src="javascripts/libs/dd_belatedpng.js"></script>
      <script> DD_belatedPNG.fix('img, .png_bg'); //fix any <img> or .png_bg background-images </script>
    /
      include my compressed javascript plugins/libs
    = javascripts('site.min')
    / comment out in production
    / %script{:src => "javascripts/default.js"}
    / make it snow
    %script{:src => "javascripts/libs/smoke.js"}
    /
      use google analytics helper
      change the UA-XXXXX-X to be your site's ID
    /
      TODO:
      = ga('UA-XXXXX-X')